@model IEnumerable<ProgrammingChallenge6._1.Models.Club>

<p> <a asp-action="AddClub">Add Club</a> </p>

@{
    if(Model.Count() <1)
    {
        <p>No clubs Found.</p>
    }
    else
    {
        <h3>All Clubs</h3>
        <table border="1">
            <tr>
                <th>Club ID</th>
                <th>Club Name</th>
                <th>No of Students</th>
                <th>Department Name</th>
            </tr>
            @foreach (var club in Model)
            {
                <tr>
                    <td>@club.ClubId</td>
                    <td>@club.ClubName</td>
                    <td>@club.No_of_Students</td>
                    <td><a asp-controller="Department" asp-action="DepartmentDetails" asp-route-id="@club.Department.DepartmentID">
                    @club.Department.DepartmentName
                    </a>
                    </td>
                </tr>
            }
        </table>

        
    }
}